body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 1000px;
    background-color: #f9eadf;
}
.header-class{
    position: sticky;
    top: 0px;
    /* margin-top: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15%;
    background-color: #f9eadf;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    display: flex;
}

li{
    display: flex;
    list-style: none;
    margin-left: 50px;
    align-items: center;
    color: #525252;
}

.general-btn{
    font-size: 20px;
    font-weight: 600;
    background-color:#FD6E0A ;
    color: #FFF8F3;
    border: none;
    padding: 18px 36px;
    border-radius: 8px;
    margin-right: 30px;
}

.second-general{
    font-size: 20px;
    font-weight: 700;
    background-color:#FFF8F3;
    color:#FD6E0A;
    border: 2px solid #FD6E0A;
    padding: 18px 36px;
    border-radius: 8px;
}

#logo{
    font-size: 45px;
    font-weight: 900!important;
    line-height: 62px;
}

.special-char{
    color: #FD6E0A;
}

.banner{
    width: 70%;
    align-items: center;
    margin: auto;
    display: flex;
}

.hi{
    font-size: 45px;
    font-weight: 600;
    color: #525252;
    margin-bottom: 5px;
}

.name{
    font-size: 85px;
    margin: 0;
    width: 500px;
}

.bio{
    color: #525252;
    font-size: 18px;
    margin-top: 20px;
    width: 550px;
}

.homepage{
    background-image: url(../media/images/photos/header_bg.png), url(../media/images/photos/developer-v3.png);
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
    background-position: absolute;
}

.bg-photo{
    margin-bottom: -5px;
}

.about-me{
    margin: 130px 15%;
    padding: 130px 150px;
    background-color: #f2c09c;
    border-radius: 16px;
}

.about-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.about-bio{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    color: #525252;
}

.about-info{
    display: flex;
    justify-content: space-between;
}

.a-tag{
    color: #525252;
    font-weight: 400;
    text-align: center;
    margin-bottom: -10px;
}

.a-info{
    font-weight: 700;
    text-align: center;
}

.wid-head{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.wid-info{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #525252;
    text-align: center;
    margin-top: 30px;
}

.what-i-do{
    margin: 100px 15% 0 15%;
    padding: 25px 0;
    margin-bottom: 50px;
}

.skill-head{
    font-size: 20px;
    font-weight: 700;
}

.skill-description{
    font-size: 16px;
    font-weight: 400;
    color: #525252;
    margin-top: 20px;
}

.skill-text{
    margin-top: 30px;
}

.skill-set{
    display: flex;
    margin: 0 15%;
    justify-content: space-between;
}

.card{
    padding: 30px;
    margin-left: 25px;
    border: 1px solid #edebeb;
    border-radius: 16px;
    background-color:rgba(255, 248, 243, 0.5);
}

.summary-head{
    margin-top: 130px;
    text-align: center;
    margin-bottom: 110px;
}